services:
  # Base de datos PostgreSQL
  db:
    image: postgres:15
    container_name: riseup_db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  # Backend FastAPI
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: riseup_backend
    restart: always
    dns:
      - 8.8.8.8
      - 8.8.4.4
    env_file:
      - .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
      JWT_SECRET_KEY: ${JWT_SECRET_KEY}
      JWT_ALGORITHM: ${JWT_ALGORITHM}
      JWT_EXPIRATION_HOURS: ${JWT_EXPIRATION_HOURS}
      MAIL_SERVER: ${MAIL_SERVER}
      MAIL_PORT: ${MAIL_PORT}
      MAIL_USERNAME: ${MAIL_USERNAME}
      MAIL_PASSWORD: ${MAIL_PASSWORD}
      MAIL_FROM: ${MAIL_FROM}
      MAIL_FROM_NAME: ${MAIL_FROM_NAME}
      FRONTEND_URL: ${FRONTEND_URL}
      GATEWAY_URL: http://gateway:3000/payments
    ports:
      - "3000:8000"
    depends_on:
      db:
        condition: service_healthy

  # Frontend Nginx
  frontend:
    build:
      context: ./FrontEnd
      dockerfile: Dockerfile
    container_name: riseup_frontend
    restart: always
    ports:
      - "8080:80"
    depends_on:
      - backend

  # Payment Gateway (MySQL)
  gateway_db:
    image: mysql:8.0
    container_name: riseup_gateway_db
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: secret
    volumes:
      - ./payment-gateway/Database:/docker-entrypoint-initdb.d
      - gateway_mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Payment Gateway API
  gateway:
    build: ./payment-gateway/Gateway
    container_name: riseup_gateway
    restart: always
    environment:
      PORT: 3000
      DB_HOST: gateway_db
      DB_PORT: 3306
      DB_USER: root
      DB_PASSWORD: secret
      DB_NAME: payments_db
      PUBLIC_URL: https://dj449p7g-3002.brs.devtunnels.ms
      CONFIRMATION_HOOK_ENDPOINT: http://backend:8000/donations/confirm-payment
    ports:
      - "3002:3000"
    depends_on:
      gateway_db:
        condition: service_healthy

volumes:
  gateway_mysql_data:
